@font-face {
    font-family: "Major-Mono-Display";
    src: url("../../../fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../../../fonts/Quicksand-VariableFont_wght.ttf");
}